<h1>Update Profile</h1>

<%= form_tag user_path(@user), method: :patch do %>
  <%= label_tag "Name" %>
  <%= text_field_tag :name %>

  <%= label_tag "Email" %>
  <%= email_field_tag :email %>

  <%= submit_tag "Update Profile" %>
<% end %>
