<h1>Update Password</h1>

<%= form_tag user_path(@user), method: :patch do %>
  <%= label_tag :password %>
  <%= text_field_tag :password %>

  <%= label_tag :password_confirmation %>
  <%= text_field_tag :password_confirmation %>

  <%= submit_tag "Change Password" %>
<% end %>
